@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}


html,
body,
#root {
    margin: 0;
    height: 100%;
}